extends layout
  

block content
     .container
         h1 About Us
         p Hello, welcome to Mytidbit, its the name of my personal website, blog, youtube channel and some cool contributions I made over the internet.
         ul
            li Wassup
            li What do you need?
            li Do you want to learn something
            li How can I help you?