extends layout

block content
   
       .jumbotron
            .container
                 h1 Hello World #{title}
                 p This is a world where the fittest gets to survive and smartest gets to lead. Life is so easy with programming. Loving it.
                 a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;

       .container
            .row
               .col-md-4
                    h2 About Us
                    p We're the world, we're the people, just filling with some dummy text, this is basically a song that came in my mind just like that.
                    a.btn.btn-default(href="#") View Details
               .col-md-4
                    h2 Services
                    p We're the world, we're the people, just filling with some dummy text, this is basically a song that came in my mind just like that.
                    a.btn.btn-default(href="#") View Details
               .col-md-4
                    h2 Reach out
                    p We're the world, we're the people, just filling with some dummy text, this is basically a song that came in my mind just like that.
                    a.btn.btn-default(href="#") View Details